button-w {
    width: 100%;
}

body {
    background-image: url(https://images.pexels.com/photos/3951373/pexels-photo-3951373.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1250);
}

.contact_bt {
    width: 180px;
    height: 50px;
    background: black;
    color: #fff;
    float: left;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 50px;
    border-radius: 5px;
}

.contact_bt:hover,
.contact_bt:focus {
    color: #fff;
}

.dark_bg .contact_bt {
    margin-top: 30px;
}

.contact-box {
    padding: 70px 0px;
}

.left-contact h2 {
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 30px;
}

.cont-line {
    overflow: hidden;
    margin-bottom: 30px;
}

.icon-b {
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 25px;
    margin-right: 15px;
    color: #fff;
    border-radius: 100%;
    background: black;
}

.dit-right h4 {
    font-size: 16px;
    color: #3a4149;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.dit-right p {
    font-size: 14px;
    margin-top: 0;
}

.dit-right a {
    font-size: 14px;
    color: #3a4149;
    font-weight: 300;
    line-height: normal;
}

.dit-right a:hover {
    color: #57cef8;
}

.contact-block .form-group .form-control {
    background: #333;
    height: 48px;
    font-size: 14px;
    border: 0;
    padding: 5px 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 200;
    letter-spacing: 0px;
}

.submit-button .btn-common {
    background-color: black;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 0 20px;
    border: 0;
    outline: 0;
    text-transform: uppercase;
    border-radius: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 0;
    opacity: 1;
}

.contact-block .form-group textarea.form-control {
    height: 150px;
    padding-top: 15px;
}

.submit-button .btn-common:hover {
    background-color: #111;
    opacity: 1;
}

.custom-select {
    height: 45px;
    font-size: 16px;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(45px + 2px);
}

.help-block ul li {
    color: red;
}

.site-footer {
    margin-top: 450px;
    height: 600px;
}