body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong {
    font-weight: 500;
}

a {
    color: #f35b3f;
    text-decoration: none;
    transition: all .3s;
}

a:hover,
a:focus {
    color: #f35b3f;
    border: 0;
    text-decoration: none;
}

h1,
h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

h4 {
    font-size: 18px;
    font-weight: 300;
    color: #555;
    line-height: 26px;
}

img {
    max-width: 100%;
}

.medium-paragraph {
    font-size: 18px;
    line-height: 34px;
}

::-moz-selection {
    background: #f35b3f;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #f35b3f;
    color: #fff;
    text-shadow: none;
}


/***** Wrapper *****/

.wrapper {
    display: block;
}


/***** Sidebar *****/

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -255px;
    z-index: 999;
    background: #333;
    color: #fff;
    transition: all .3s;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
    text-align: left;
}

.sidebar.active {
    left: 0;
}

.dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all .3s;
    background: #444;
    border-radius: 4px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.dismiss:hover,
.dismiss:focus {
    background: #555;
    color: #fff;
}

.sidebar .logo {
    padding: 40px 20px;
    border-bottom: 1px solid #444;
    transition: all .3s;
}

.sidebar .logo a {
    display: inline-block;
    width: 172px;
    height: 34px;
    background: url(../img/logo.png) left top no-repeat;
    border: 0;
    text-indent: -999999px;
}

.sidebar ul.menu-elements {
    padding: 10px 0;
    border-bottom: 1px solid #444;
    transition: all .3s;
}

.sidebar ul li a {
    display: block;
    padding: 10px 20px;
    border: 0;
    color: #fff;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active>a:hover,
.sidebar ul li.active>a:focus {
    outline: 0;
    background: #555;
    color: #fff;
}

.sidebar ul li a i {
    margin-right: 5px;
}

.sidebar ul li.active>a,
a[aria-expanded="true"] {
    background: #444;
    color: #fff;
}

.sidebar ul ul a {
    background: #444;
    padding-left: 30px;
    font-size: 14px;
}

.sidebar ul ul li.active>a {
    background: #555;
}

.sidebar a[data-toggle="collapse"] {
    position: relative;
}

.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar .to-top {
    padding: 20px;
    text-align: center;
}

.sidebar .dark-light-buttons {
    padding: 10px 20px 30px 20px;
    text-align: center;
}


/* sidebar light */

.sidebar.light {
    background: #fff;
    color: #888;
}

.sidebar.light .dismiss {
    background: #ddd;
    color: #888;
}

.sidebar.light .dismiss:hover,
.sidebar.light .dismiss:focus {
    background: #ccc;
    color: #888;
}

.sidebar.light .logo {
    border-color: #eee;
}

.sidebar.light .logo a {
    background-image: url(../img/logo-dark.png);
}

.sidebar.light ul.menu-elements {
    border-color: #eee;
}

.sidebar.light ul li a {
    color: #888;
}

.sidebar.light ul li a:hover,
.sidebar.light ul li a:focus,
.sidebar.light ul li.active>a:hover,
.sidebar.light ul li.active>a:focus {
    background: #ccc;
    color: #888;
}

.sidebar.light ul li.active>a,
.sidebar.light a[aria-expanded="true"] {
    background: #ddd;
    color: #888;
}

.sidebar.light ul ul a {
    background: #ddd;
}

.sidebar.light ul ul li.active>a {
    background: #ccc;
}

.sidebar.light a.btn-customized-3 {
    background: #ccc;
    color: #888;
}

.sidebar.light a.btn-customized-3:hover,
.sidebar.light a.btn-customized-3:active,
.sidebar.light a.btn-customized-3:focus,
.sidebar.light a.btn-customized-3:active:focus,
.sidebar.light a.btn-customized-3.active:focus,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #ccc;
    color: #888;
}

.sidebar.light a.btn-customized-4.btn-customized-dark {
    background: #555;
}

.sidebar.light a.btn-customized-4.btn-customized-light {
    background: #555;
}

.sidebar.light a.btn-customized-4.btn-customized-dark:hover,
.sidebar.light a.btn-customized-4.btn-customized-dark:active,
.sidebar.light a.btn-customized-4.btn-customized-dark:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark:active:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #ccc;
    color: #fff;
}

.sidebar.light a.btn-customized-4.btn-customized-light:hover,
.sidebar.light a.btn-customized-4.btn-customized-light:active,
.sidebar.light a.btn-customized-4.btn-customized-light:focus,
.sidebar.light a.btn-customized-4.btn-customized-light:active:focus,
.sidebar.light a.btn-customized-4.btn-customized-light.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: rgb(138, 138, 138);
    color: rgb(138, 138, 138);
}


/***** Dark overlay *****/

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(51, 51, 51, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}


/***** Content *****/

.content {
    width: 100%;
    transition: all 0.3s;
}

.open-menu {
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 997;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}

.open-menu.btn-customized,
.open-menu.btn-customized:hover,
.open-menu.btn-customized:active,
.open-menu.btn-customized:focus,
.open-menu.btn-customized:active:focus,
.open-menu.btn-customized.active:focus,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}


/***** Buttons *****/

a.btn-customized {
    margin-left: 5px;
    margin-right: 5px;
    padding: .75rem 1.5rem;
    background: #FF66CC;
    ;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
}

a.btn-customized:hover,
a.btn-customized:active,
a.btn-customized:focus,
a.btn-customized:active:focus,
a.btn-customized.active:focus,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #0000;
    background: FF66CC;
    border: 0;
    color: #fff;
    box-shadow: none;
}

a.btn-customized-2 {
    margin-left: 5px;
    margin-right: 5px;
    padding: .75rem 1.5rem;
    background: #fff;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    color: #555;
    box-shadow: none;
}

a.btn-customized-2:hover,
a.btn-customized-2:active,
a.btn-customized-2:focus,
a.btn-customized-2:active:focus,
a.btn-customized-2.active:focus,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #ccc;
    background: rgba(255, 255, 255, 0.5);
    border: 0;
    color: #555;
    box-shadow: none;
}

a.btn-customized-3 {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: .75rem 1.5rem;
    background: #444;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
}

a.btn-customized-3:hover,
a.btn-customized-3:active,
a.btn-customized-3:focus,
a.btn-customized-3:active:focus,
a.btn-customized-3.active:focus,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #555;
    border: 0;
    color: #fff;
    box-shadow: none;
}

a.btn-customized i,
a.btn-customized-2 i,
a.btn-customized-3 i {
    margin-right: 5px;
}

a.btn-customized-4 {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0 3px;
    padding: 0;
    background: #666;
    border: 0;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
    text-indent: -999999px;
}

a.btn-customized-4.btn-customized-dark {
    background: #222;
}


/* aqui se le cambia al boton del sidebar el color falta el fondo */

a.btn-customized-4.btn-customized-light {
    background: #fff;
}

a.btn-customized-4.btn-customized-dark:hover,
a.btn-customized-4.btn-customized-dark:active,
a.btn-customized-4.btn-customized-dark:focus,
a.btn-customized-4.btn-customized-dark:active:focus,
a.btn-customized-4.btn-customized-dark.active:focus,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #555;
    border: 0;
    color: #fff;
    box-shadow: none;
}


/* aqui se le cambia al boton del sidebar el color falta el fondo */

a.btn-customized-4.btn-customized-light:hover,
a.btn-customized-4.btn-customized-light:active,
a.btn-customized-4.btn-customized-light:focus,
a.btn-customized-4.btn-customized-light:active:focus,
a.btn-customized-4.btn-customized-light.active:focus,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #fff;
    border: 0;
    color: #fff;
    box-shadow: none;
}


/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-container-gray-bg {
    background: #f8f8f8;
}

.section-container-image-bg,
.section-container-image-bg h2,
.section-container-image-bg h3 {
    color: #fff;
}

.section-container-image-bg .divider-1 span {
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.8);
}

.section-description {
    margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
    padding: 0 120px;
}

.section-container-image-bg .section-description p {
    opacity: 0.8;
}

.section-bottom-button {
    padding-top: 20px;
}


/***** Divider *****/

.divider-1 span {
    display: inline-block;
    width: 200px;
    border-bottom: 1px dotted #aaa;
}


/***** Footer *****/

footer {
    padding: 40px 0;
}

.redes-sociales {
    opacity: 1;
    position: fixed;
    top: 150px;
    right: 0;
    cursor: pointer;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.redes-sociales img {
    width: 40px !important;
}

.redes-sociales .list-group-item {
    padding: 8px 9px !important;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px);
    position: absolute;
    width: 100vw;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.3);
}

.contenedor .redes-sociales2 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    text-align: center;
}

.contenedor .redes-sociales2 .social {
    width: 4.375rem;
    height: 4.375rem;
    background: #f1f1f1;
    margin: 0 0.625rem;
    border-radius: 30%;
    box-shadow: 0 0.3125rem 0.9375rem -0.3125rem #00000070;
    overflow: hidden;
    position: relative;
}

.contenedor .redes-sociales2 .social i {
    line-height: 4.375rem;
    font-size: 1.4375rem;
    transition: 0.2s linear;
}

.contenedor .redes-sociales2 .linkedin {
    color: #0e76a8;
}

.contenedor .redes-sociales2 .instagram {
    color: #bc2a8d;
}

.contenedor .redes-sociales2 .twitter {
    color: #00acee;
}

.contenedor .redes-sociales2 .whatsapp {
    color: #06f726;
}

.contenedor .redes-sociales2 .facebook {
    color: #1c0ee9;
}

.contenedor .redes-sociales2 .social:hover i {
    transform: scale(1.3);
    color: #ffffff;
}

.contenedor .redes-sociales2 .social::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.contenedor .redes-sociales2 .linkedin::before {
    background: #0e76a8;
}

.contenedor .redes-sociales2 .instagram::before {
    background: #bc2a8d;
}

.contenedor .redes-sociales2 .twitter::before {
    background: #00acee;
}

.contenedor .redes-sociales2 .whatsapp::before {
    background: #06f726;
}

.contenedor .redes-sociales2 .facebook::before {
    background: #1c0ee9;
}

.contenedor .redes-sociales2 .social:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        top: -10%;
        left: -10%;
    }
}

.links_left ul {
    padding-left: 10px;
}

.links_left ul li {
    color: #000066;
}

.links_left ul li a {
    color: #696969;
}

.links_right ul {
    padding-left: 10px;
}

.links_right ul li a {
    color: #696969;
}

.links_right ul li {
    color: #696969;
}